RECAPTCHA_SECRET_KEY=your_google_recaptcha_v2_secret_key
WEB3FORMS_ACCESS_KEY=2c0e1398-6ec6-42fb-b5f5-0f5604221fa0
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=Mozno Wealth <noreply@your-verified-domain.com>
ASSESSMENT_RESULT_RECIPIENT_EMAIL=caharshalvjain@gmail.com
